/* .header-content {
    padding: 5px 10px 5px 0px;
}

.header-logo a {
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-logo a img {
    width: 50px;
    height: 50px;
}


.search-header {
    border-radius: 25px 0 0 25px;
}

.btn-search-header {
    border-radius: 0 25px 25px 0;
}

.navbar {
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.navbar .nav-right {
    float: right;
} */

.header-content{
    display: flex;
    justify-content: space-between;
    background-color: #0B0C10;
    height: 50px;
    width: 100%;
    align-items: center;
}
.header-content a:hover{
    color: #ffffff;
    text-decoration: none;
}
.header-content .logo{
    font-size: 25px;
    margin: 0 60px;
}
.header-content a{
    color: #ffffff;
}
.header-content .sign-in-up {
    margin: 0 30px;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content .sign-in-up a{
    margin-left: 30px;
}
/* thanh navbar*/
/* .menu .nav-bar{
    background-color: #1F2833;
    flex: 1;
    height:40px ;
}
.menu .nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 40px;
}
.menu .nav-bar ul li{
    flex: 1;
    align-self: center;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .nav-bar ul li a{
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}
.menu .nav-bar ul li:hover{
    background-color: #1d7874;
}
.menu .searchbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    
}
.menu .searchbar i{
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.menu .searchbar .iconsearch i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu .searchbar .iconsearch{
    background: #0B0C10;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    position: relative;
    border: none;
}
.menu .searchbar .cart {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.menu .searchbar .cart .cart-number{
    font-size: 12px;
    padding: 3px;
    margin-left: 3px;
    background-color: red;
    color: #ffffff;
    border-radius: 9px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2833;
    height: 40px;
}
.toggle{
    color: #ffffff;
    position: absolute;
    left: 50%;
    font-size: 15px;
    display: none;
} */
.menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #353b48;
    align-items: center;
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #353b48;
}
.nav-bar ul{
    display: flex;
    
    align-items: center;
    margin: 0;
    padding-left: 3.5rem;
    
}
.nav-bar ul li{
    margin: 0;
    padding: 0.5rem 1rem;
}
.nav-bar ul li:hover{
    background-color: #00a8ff;
}
.nav-bar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.searchbar{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.searchbar input[type="text"]{
    height: 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 5px;
}
.searchbar input[type="text"]:focus{
    outline: none;
}
.searchbar button{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    background-color: #0B0C10;
}
.searchbar button:hover{
    background-color: #EA2027;
}
.searchbar button:hover >i{
    color: #ffffff;
}
.searchbar button i{
    color: #18dcff;
}
.cart{
    display: flex;
    padding: 0 2rem;
}
.cart a{
    color: #ffffff;
}
.cart i{
    font-size: 18px;
}
.cart-number{
    padding: 1px 7px;
    background-color: #3867d6;
    border-radius: 28px;
    color: #ffffff;
}
form{
    border: 1px solid #000000;
    padding: 2px;
    background-color: #ffffff;
    border-radius: 30px;
}
form:focus-within{
    border: #EA2027 1px solid;
}
.toggle-btn{
    margin-right: 20px;
    display: none;
    cursor: pointer;
    margin-left: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 555px){
    
    .logo img{
        display: none;
    }
    .account p{
        display: none;
    }
    
}

@media (max-width: 840px){

    .nav-bar{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 2;
        top:80px;
        
    }
    .nav-bar.active{
        display: block;
    }
    .nav-bar ul{
        display: block;
        text-align: center;
        padding-left: 0;
    }
    .nav-bar ul li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .nav-bar ul li:first-child{
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .searchbar{
        justify-content: center;
        flex-direction: column;
    }
    form{
        margin: 0.5rem;
    }
    .cart{
        width: 100%;
        padding: 0.5rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        justify-content: center;
    }
    .toggle-btn{
        display: block;
        
    }
}
@media (min-width: 841px){

}

/* ACCCCCCCCOUNT */
.account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account img{
    border-radius: 30px;
}
.account p{
    margin-bottom: 0;
    margin-left: 10px;
    color: #ffffff;
}
.account-menu button{
    padding: 5px 10px;
    margin-left: 5px;
    /* background-color: #484a4d; */
    background-color: #0B0C10;
    border: 2px solid #484a4d;
    border-radius: 15px;
    /* border: none; */
    
}
.account-menu button:focus{
    outline: none;
}
.account-menu button i{
    color: #ffffff;
    transition: 0.4s;
}
.account-menu i.clicked{
    -webkit-transform: rotate(180deg) ;
  transform: rotate(180deg) ;
}
.account-menu-content a{
    display: block;
    /* margin: 5px 0; */
}
.account-menu-content{
    position: absolute;
    /* left: 10px;
    top:40px; */
    right: 0;
    background-color: #484a4d;
    padding: 10px 25px 10px 0;
    display: none;
    z-index: 3;
}
.account-menu-content.active{
    display: block;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
.bar1.change{
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}
  
.bar2.change {opacity: 0;}
  
.bar3.change{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
  